<div class="overflow-x h-full">
  <div class="w-full flex justify-between align-middle mt-16 mb-5">
    <h5 class="text-lg font-bold">Employee Details</h5>
    <!-- <button class="btn btn-primary btn-xs mr-5">Add New</button> -->
    <!-- The button to open modal -->
    <label for="my-modal-3" class="btn btn-primary btn-xs mr-5 modal-button"
      >Add New</label
    >

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box relative">
        <label
          for="my-modal-3"
          class="btn btn-sm btn-circle absolute right-2 top-2"
          >✕</label
        >
        <h3 class="text-lg font-bold">New Employee Details</h3>

        <form
          class="card flex-shrink-0 w-full max-w-sm bg-base-100"
          #newEmployeeFrm="ngForm"
          (submit)="addEmployee(newEmployeeFrm.value)"
        >
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Name</span>
              </label>
              <input
                type="text"
                placeholder="name"
                name="name"
                #ename="ngModel"
                ngModel
                class="input input-bordered"
                required
              />
              <p
                class="text-sm text-red-600 ml-5 mt-1"
                *ngIf="ename.errors?.['required'] && ename.touched"
              >
                Invalid Employee Name
              </p>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Designation</span>
              </label>
              <input
                type="text"
                placeholder="designation"
                name="designation"
                #designation="ngModel"
                ngModel
                class="input input-bordered"
                required
              />
              <p
                class="text-sm text-red-600 ml-5 mt-1"
                *ngIf="designation.errors?.['required'] && designation.touched"
              >
                Invalid Employee Designation
              </p>
            </div>

            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Manager ID</span>
              </label>
              <select class="select select-bordered" ngModel name="managerId">
                <option disabled selected>Pick Manager ID</option>
                <option [value]="2">Joman</option>
                <option [value]="3">Ravi Kumar</option>
                <option [value]="4">Rakesh</option>
              </select>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input
                type="text"
                placeholder="email"
                name="email"
                #username="ngModel"
                ngModel
                class="input input-bordered"
                required
              />
              <p
                class="text-sm text-red-600 ml-5 mt-1"
                *ngIf="username.errors?.['required'] && username.touched"
              >
                Invalid username
              </p>
            </div>

            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input
                type="text"
                placeholder="password"
                class="input input-bordered"
                name="password"
                ngModel
                #password="ngModel"
                placeholder="Password"
                required
              />
              <p
                class="text-sm text-red-600 ml-5 mt-1"
                *ngIf="password.errors?.['required'] && password.touched"
              >
                Invalid password
              </p>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn btn-primary">Add</button>
              <label for="my-modal-3" class="btn btn-danger">Close</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table w-250">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let emp of employees">
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-10 h-10">
                <img
                  src="https://placeimg.com/80/80/people"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ emp.name }}</div>
              <div class="text-sm opacity-50">EMP{{ emp.id }}</div>
            </div>
          </div>
        </td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.email }}</td>
        <th>
          <span class="badge badge-success p-2 badge-sm">working</span>
        </th>
      </tr>
    </tbody>
  </table>
</div>
