<div class="overflow-x h-full">
  <div class="w-full flex justify-between align-middle mt-16 mb-5">
    <h5 class="text-lg font-bold">Training Details</h5>
  </div>

  <table class="table w-250">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let emp of employees">
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-10 h-10">
                <img
                  src="https://placeimg.com/80/80/people"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ emp.name }}</div>
              <div class="text-sm opacity-50">EMP{{ emp.id }}</div>
            </div>
          </div>
        </td>
        <td>{{ emp.designation }}</td>
        <td>{{ emp.email }}</td>
        <th>
          <span class="badge badge-success p-2 badge-sm">working</span>
        </th>
      </tr>
    </tbody>
  </table>
</div>
